body {background-color:black;font-family:arial;color:white}/*assigns page's background colour,font colour,font family,etc.*/
h1{h1{color:grey;font-family:verdana}}/*assigns heading's font colour,font family are assigned here*/
.maindiv {background-color:white;/*assigns division's  background colour ,font colour,etc. etc */
            color:black; 
            border-radius: 25px;
            padding: 20px;
            width: 300px;
            align:center
  }


